<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav>
		<h3>Navigation</h3>
		<ul>
			<li>@Html.ActionLink("Traditional Paging", "Index", "Home")</li>
			<li>@Html.ActionLink("Traditional Paging (+Twitter Bootstrap)", "TwitterBootstrap", "Home")</li>
			<li>@Html.ActionLink("Ajax Paging", "Ajax", "Home")</li>
			<li>@Html.ActionLink("Ajax Paging (+Twitter Bootstrap)", "TwitterBootstrapAjax", "Home")</li>
			<li>@Html.ActionLink("Infinite Scrolling", "Infinite", "Home")</li>
			<li>@Html.ActionLink("Integrating with AutoMapper", "Index", "AutomappedList")</li>
		</ul>
	</nav>
	@RenderBody()
</body>
</html>