@using X.PagedList
@using X.PagedList.Core
@using System.Web.Mvc.Ajax; @*Built in X.PagedList.Core*@

<paged-list-form list="@(IPagedList)ViewBag.Names" action="@Url.Action("Index")" />

<ul id="names" start="@ViewBag.Names.FirstItemOnPage">
    @foreach (var i in ViewBag.Names)
    {
        <li>@i</li>
    }
</ul>

@*@Html.PagedListPager((IPagedList)ViewBag.Names, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive", OnComplete = "PagedOnComplete" }))*@
<paged-list-pager list="@(IPagedList)ViewBag.Names" page-url="@(page => Url.Action("Index", new { page }))" enable-unobtrusive-ajax-replacing="@(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive", OnComplete = "PagedOnComplete" })" />
